.form-tab {
  .main-title {
    & > span {
      font-weight: 700;
      font-size: 26px;
      letter-spacing: 0.75px;
    }
  }

  .card-info {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 105px 1fr;
    column-gap: 50px;

    &__label {
      & > span {
        font-size: 14px;
        line-height: 18px;
        color: $gray-font;
      }
    }

    &__value {
      & > span {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .pay-button {
    width: 100%;
    margin-top: 35px;
    padding: 15px;
    transition: $transition-main;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 0.75px;
    color: $active-font;
    background-color: $blue-color;

    &:hover {
      opacity: 0.9;
      box-shadow: $button-blue-shadow;
    }

    &:active {
      opacity: 1;
    }
  }
}
