<aside class="sidebar-wrapper">
	<nav>
		<ul class="nav-menu">
			<li class="nav-menu__item"><a class="nav-menu__item--tab" href="#tab-1">Первая ссылка</a></li>
			<li class="nav-menu__item"><a class="nav-menu__item--tab" href="#tab-2">Вторая ссылка</a></li>
			<li class="nav-menu__item"><a class="nav-menu__item--tab" href="#tab-3">Третья ссылка</a></li>
			<li class="nav-menu__item"><a class="nav-menu__item--tab" href="#tab-4">Четвёртая ссылка</a></li>
		</ul>
	</nav>
	<div class="logo-wrapper"><div class="logo"></div></div>
</aside>