.card-form {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 20px;

    & > span {
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 0.75px;
      text-transform: uppercase;
    }
  }

  &__input {
    margin-top: 10px;
    padding: 12px;
    transition: $transition-main;
    border-radius: 5px;
    background-color: $input-color;
    border: 1px solid $input-color;

    &:not([readonly], .invalid):focus {
      border: 1px solid rgba($blue-color, 0.5);
    }

    &:not([readonly]):hover {
      box-shadow: $input-hover-shadow;
    }

    &:autofill {
      display: none;
    }

    &.invalid {
      border-color: $input-error-color;
    }
  }

  &__input-block {
    display: grid;
    grid-template-columns: 1fr 65px;
    margin-top: 25px;

    .card-form__title {
      margin: 0;
    }

    .card-form__input {
      width: 100%;
    }
  }
}
