<form class="card-form" name="card-data" noValidate>
	@@include('./numberInput/numberInput.html')
	<label class="card-form__title" for="name"><span>держатель карты</span></label>
		<input 
			class="card-form__input"
			type="text"
			name="name"
			autocomplete="off"
			placeholder="Иванов Иван Иванович"
		>
	<div class="card-form__input-block">
		@@include('./dateInput/dateInput.html')
		<div class="card-form__cvc-wrapper">
			<label class="card-form__title" for="cvc"><span>CVC</span></label>
				<input 
					class="card-form__input"
					type="text"
					name="cvc"
					autocomplete="off"
				>
		</div>
	</div>
</form>